body {
	margin: 0;
	padding-right: 0
}




/* Section */
.section{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}


/* Video container */
.video-container {
	position: absolute;
	top: 0;
	left: 0;
}


.video-tinted-overlay{
	/* Position is set to it's parent's (.section) position */
	position: absolute;
	width: 100vw;
	height: 100%;
	background-color: #225470;
	opacity: .75;
	z-index: 1;
}


/* Content */
.content {
	position: absolute;
	text-align: center;
	color: #FFFFFF;
	z-index: 2;

}
