body{
    margin: 0;
    padding: 0;
}

/* --------------Mobile Nav ------------*/
.navbar{
    display: none;
    background-color: #ffffff;
    height: auto;
    margin:0;
    padding:5px;
}

.navbar img{
    float: right;
    padding-top: 5px;
}

.navbar svg{
    padding-top:5px;
}

.sideMenu{
    display: none;
    font-family: 'Kaushan Script',cursive;
    background-color: #000;
    opacity: 0.8;
    position:fixed;
    z-index:1;
    left:0;
    top:0;
    width: 40%;
    height:100%;
    overflow: auto;
}

.sideMenu ul{
    font-size: 1.4em;
    padding: 20px 0px 0px 10px;
    float: left;
    list-style: none;
}

.sideMenu a{
    text-decoration: none;
    color: #ffffff;
}

.sideMenu .closeBtn{
    position: absolute;
    top:0;
    right: 22px;
}


/* ------------Banner Section--------- */
.container-banner{
    width: auto;
    height: 1000px;
    background-image: url("imgs/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



/* -------------Main Section------------ */

.container-main{
    margin-top: -400px;
    /* width: auto; */
    background-image: url('imgs/content-section.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.container-info{
    padding: 10%;
    min-width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

/* Buttons */
.container-info button img{
    width: 300px;
}

.btn{
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
}

.btn:hover{
    opacity: 0.5;
    transition: 700ms;
}

/* Player Plate */
.container-main .player-plate{
    margin-top:-5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

/* Social Media Icons */
.container-main .container-icons{
    margin-top:5%;
    min-width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 40px;
}

.container-main .container-icons .wrapper-icons a img{
    width: 110px;
    border:none;
}

.container-main .container-icons .wrapper-icons a:hover{
    opacity: 0.5;
    transition: 500ms;
}

.container-main .ledge{
    margin-top:0;
    min-width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------------Footer------------------- */

footer .container-footer{
    height: 100px;
    width:auto;
    background-color: black;
    margin: 0 auto;
}

footer .container-footer p{
    margin:0;
    color: white;
    padding-top: 30px;
    padding-left: 40px;
    float: left;
}

footer .container-footer img{
    width:50px;
}

/* footer #footer-icons li {
    list-style: none;
    display: inline-block;
    float: right;
    padding: 10px;
}

footer #footer-icons #copyright_text{
    letter-spacing: 1.5em;
} */

/* ---------------Modal Window------------- */

.modal{
    display:none;
    position:fixed;
    z-index:1;
    left:0;
    top:0;
    width: 100%;
    height:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content{
    background-color: #f4f4f4;
    position:fixed;
    margin: 20% auto;
    margin-left: 15%;
    padding: 20px;
    width: 70%;
    border-radius: 25px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    animation: modal_open;
    animation-duration: 2s;
    text-align: center;
}

.closeBtn{
    color: #ccc;
    float: right;
    font-size:30px;
}

.closeBtn:hover, .closeBtn:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: 500ms;
}

@keyframes modal_open{
    from{opacity:0}
    to {opacity: 1;}
}


/* ---------------Media Queries------------- */

/* Tablets */
@media(max-width:1024px){
    
    .container-banner{
        background-size: contain;
    }

    .container-main{
        margin-top: -66%;
        background-size: contain;
    }
    .container-main .container-info img{
        width:200px;
        height:100px;
    }
}

@media(max-width:872px){
    .container-main{
        margin-top: -80%;
    }
    .container-main .container-info{
        width:500px;
    }
}

@media(max-width:772px){
    .container-main{
        margin-top: -95%;
    }
}

@media(max-width:697){
    .container-main{
        margin-top: -200%;
    }
}

/* @media(max-height:768px){
    .container-main{
        background-image: contain;
    }
} */



/* Cell-phones */
@media(max-width:500px){

    .navbar{
        display: block;
    }

    .container-banner{
        display: block;
        align-content: center;
    }
    
    .container-main{
        margin-top:-800px;
        background-image: none;
        /* position: fixed; */
    }

    .container-info{
        display:none;
    }

    .container-main .player-plate{
        margin-top:0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .container-main .container-icons{
        display: none;
    }

    .container-main .ledge{
        display: none;
    }

    footer{
        margin-top:0;
        position:fixed;
    }
}
