body{
	background-color: #fafaea;
	font-family: 'Staatliches', cursive;
}
/* Header Settings */
header{
	padding: 10px 0 0 10px;
	background-color: black;
}


nav{
	margin: 0 20px 0 20px;
}

header h1{
	align-items: center;
	color: white;
}

header li{
	font-family: 'Cedarville Cursive', cursive;
	display: inline;
	margin: 30px 30px;
	align-items: center;
	font-size: 25px;
	color: white;
}

/*Jumbotron settings */

.jumbotron{
	background-image: url("images/burgers.jpg");
	background-size: cover;
	height: 900px;
}

.box{
	border-style: solid;
	width: 300px;
	height: 400px;
	font-family: 'Cedarville Cursive', cursive;
	margin-top: 100px;
}

.box p{
	padding: 0 10px 0 10px;
}

/* Footer settings */

footer {
	background-color: black;
}

footer .row {
	align-items: center;
}

footer img {
	height: 50px;
	width: 50px;
}
